
CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/acct_1ScnxhR6hNPktr42/test/apikeys
STRIPE_SECRET=


STRIPE_SUCCESS_URL='http://localhost:3003/payments/success'

STRIPE_CANCEL_URL='http://localhost:3003/payments/cancel'


# https://dashboard.stripe.com/acct_1ScnxhR6hNPktr42/test/workbench/webhooks/we_1SdFTlR6hNPktr42Ng8j3yXj
# este es el signing secret del webhook

STRIPE_ENDPOINTSECRET=

AUTH_DATABASE_URL=mongodb+srv://user:password@auth-microservice-db.e77eivc.mongodb.net/AuthDB

JWT_SECRET=aquiSeSebeGenerarUnaContrasenhaSegura