[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Kai-Nest-Microservices/gateway-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Kai-Nest-Microservices/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Kai-Nest-Microservices/orders-ms.git
